<apex:page standardStylesheets="false" controller="PurchaseFormController" docType="HTML-5.0">
    
    <apex:slds />
    <div class="slds-scope">
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="x-ua-compatible" content="ie=edge" />
            <title>Purchase Form</title>
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <!-- Import the Design System style sheet -->
            <apex:slds />
        </head>
        <body>
        <apex:outputLink value="/apex/Goods" styleClass="slds-button slds-p-top_xxx-small slds-text-heading_medium" style="padding: 0.5em 1em 0.5em">To shoping</apex:outputLink>
        
        <apex:pageBlock title="Checkout for {!wrapProduct.product.Name}">
            <apex:form >
                <div class="slds-grid slds-wrap slds-page-header ">
                    
                    <div class="slds-col slds-size_1-of-1 slds-small-size_1-of-4 slds-medium-size_3-of-12">
                        <span>
                            <apex:pageBlockSection >
                                <apex:image url="{!wrapProduct.product.Image__c}" width="100%" height="100%" style="min-width: 5em; "/>
                            </apex:pageBlockSection>
                        </span>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-small-size_1-of-4 slds-medium-size_3-of-12">
                        <span>
                            <apex:pageBlockSection columns="1" rendered="true" id="summary">
                                <apex:outputText >
                                    <span class="slds-text-title_caps">{!wrapProduct.product.Title__c}</span>
                                </apex:outputText>          
                                <apex:outputText >
                                    <span class="slds-text-body_regular">{!wrapProduct.product.Description__c}</span>
                                    
                                </apex:outputText>          
                                
                                <!--IF(NOT(ISNULL({!wrapProduct.product.discountCost})))-->
                                <apex:outputText rendered="true" id="discountCost">
                                   <!-- {!wrapProduct.product.discountCost}-->
                                </apex:outputText>          
                            </apex:pageBlockSection>
                        </span>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-small-size_1-of-4 slds-medium-size_2-of-12">
                            <span><apex:pageBlockSection columns="1" >
                                <apex:inputField value="{!contact.E_Mail__c}" label="Email" type="text" styleClass="slds-form-element"/>
                                <apex:inputField value="{!contact.Name__c}" label="Name" type="text"/>
                                <apex:inputField value="{!contact.Adress__c}" label="Adress" type="text"/>
                                <apex:inputField value="{!contact.Phone__c}" label="Phone" type="text"/>
                                <apex:actionRegion >
                                    <apex:inputField value="{!inputDiscountField.Discount_Code__c}" label="Promo code" type="text"/>
                                    <apex:commandButton action="{!applyPromoCode}" value="apply" reRender="discountCost, summary, message" styleClass="slds-button slds-button_brand slds-text-heading_medium" style="padding: 1em 2em 1em;"/>
                                </apex:actionRegion>
                                <apex:pageMessages id="message"/>
                                </apex:pageBlockSection></span>
                        </div>
                    <div class="slds-col slds-shrink slds-size_1-of-1 slds-small-size_1-of-4 slds-medium-size_12-of-12">
                        <span>
                            <apex:pageBlockSection columns="1">
                                
                                <apex:pageBlockSectionItem >
                                    <div class="slds-form-element">
                                        <label class="slds-form-element__label" for="select-01">Quantity</label>
                                        <div class="slds-form-element__control">
                                            <div class="slds-select_container" style="width: 4em;">
                                                <select class="slds-select" id="select-01">
                                                    <option value="">0</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>
                                                    <option>10</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </apex:pageBlockSectionItem>
                                <apex:pageBlockSectionItem>
                                        <apex:outputText >
                                                <span class="slds-text-heading_large">Total {!wrapProduct.product.Cost__c}</span>
                                            </apex:outputText>
                                </apex:pageBlockSectionItem>
                                
                                <apex:pageBlockSectionItem >
                                    <apex:commandButton action="{!buyProduct}" value="Buy" styleClass="slds-button slds-button_brand slds-text-heading_medium" style="padding: 1em 2em 1em;"/> 
                                </apex:pageBlockSectionItem>
                            </apex:pageBlockSection>
                        </span>
                    </div>
                </div>	
            </apex:form>
        </apex:pageBlock>
        </body>
    </div>
</apex:page>