<apex:page lightningStylesheets="true" standardController="Product__c">
    <apex:slds />
    <div class="slds-scope" role="alert">
        <apex:pageBlock title="congratulations">
            <div class="slds-box"><span>You bought {!Product__c.Name}</span></div>
        </apex:pageBlock>
    </div>
</apex:page>