<apex:page standardStylesheets="false" showHeader="true">
    <apex:slds rendered="true" />

    <html>

    <head>
        <title>TestPage</title>
        <meta type="charset" />
        <meta type="description" />
        <style>
            html {
                height: 100%;
            }

            body {
                box-sizing: border-box;
                background-color: lightgray;
            }

            .container {

                width 100%;
                box-sizing: border-box;
                padding: 40px 50px 40px;
                font-size: 0px;
            }

            .container>div {
                padding: 10px;

                display: inline-block;
                box-sizing: border-box;

                width: 100%;



            }

            .container div:nth-child(n+2):nth-child(-n+4) {
                width: 33.33%;

            }

            .container div:nth-child(n+5):nth-child(-n+6) {
                width: 50%;

            }

            .container__elem {
                box-sizing: border-box;
                color: rosybrown;
                padding: 15px;

                background-color: #E5E5DC;
                font-size: 17px;
                border: 3px solid white;
                border-radius: 5px;
            }

            .container__elem--mod {}

            p {
                color: peru;
            }
        </style>
        <apex:remoteObjects>
            <apex:remoteObjectModel name="Account" jsShorthand="accounts" fields="Name, Id">
                <apex:remoteObjectField name="Industry" jsShorthand="industry" />
            </apex:remoteObjectModel>
        </apex:remoteObjects>
        <script>
            var fetchAccounts = function () {
                var ac = new SObjectModel.accounts();
                ac.retrieve({ limit: 10 }, function (err, records, event) {
                    if (err) {
                        alert(err.message);
                    }
                    else {
                        var div = document.getElementById("accounts");
                        records.forEach(function (record) {
                            var acName = record.get("Name");
                            acName += " - ";
                            acName += record.get("industry");
                            var p = document.createElement("p");
                            p.textContent = acName;
                            div.appendChild(p);

                        })
                    }
                })
            }
        </script>
        <script>
            var createAccount = function(){
                var account = new SObjectModel.accounts();
                var acc = {
                    Name: "Remote Account 3"
                }
                account.create(acc, function(error, results){
                    if(error){
                        console.log(error)
                    } else {
                        document.alert(account.log());
                        console.log(account.log());
                        console.log(account.get("id"));
                        var div = document.getElementById("account");
                        var p = document.createElement("p");
                            p.textContent = account.get("Name");
                            p.textConten += " - " + account.get("Id");
                            div.appendChild(p);
                    }
                });
            }
            
        </script>
    </head>

    <body>
        <div class="slds-scope">
            <div class="container">
                <div>
                    <div class="container__elem container__elem--mod" id="accounts">
                        <button onclick="fetchAccounts()" class="slds-button slds-button_brand slds-text-heading_small">retrieve Accounts</button>
                        <br/>
                        <span>Accounts</span>

                    </div>

                </div>

                <div>
                    <div class="container__elem container__elem--mod" id="account">
                        <button onclick="createAccount()" class="slds-button slds-button_brand slds-text-heading_small">create Account</button><br />
                        <span>New Account</span><br/>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quaerat consequuntur assumenda
                            obcaecati architecto in incidunt doloribus ipsa, soluta recusandae eos suscipit accusamus ratione,
                            praesentium iste deleniti expedita ipsam. Quis.</span>
                    </div>
                </div>
                <div>
                    <div class="container__elem container__elem--mod">
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quaerat consequuntur assumenda
                            obcaecati architecto in incidunt doloribus ipsa, soluta recusandae eos suscipit accusamus ratione,
                            praesentium iste deleniti expedita ipsam. Quis.</span>
                    </div>
                </div>
                <div>
                    <div class="container__elem container__elem--mod">
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quaerat consequuntur assumenda
                            obcaecati architecto in incidunt doloribus ipsa, soluta recusandae eos suscipit accusamus ratione,
                            praesentium iste deleniti expedita ipsam. Quis.</span>
                    </div>
                </div>
                <div>
                    <div class="container__elem container__elem--mod">
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quaerat consequuntur assumenda
                            obcaecati architecto in incidunt doloribus ipsa, soluta recusandae eos suscipit accusamus ratione,
                            praesentium iste deleniti expedita ipsam. Quis.</span>
                    </div>
                </div>
                <div>
                    <div class="container__elem container__elem--mod">
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quaerat consequuntur assumenda
                            obcaecati architecto in incidunt doloribus ipsa, soluta recusandae eos suscipit accusamus ratione,
                            praesentium iste deleniti expedita ipsam. Quis.</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
    
    </html>

</apex:page>